:root { 
--red_600:#db3939; 
--light_blue_100:#c0eefa; 
--indigo_A100:#94a4fb; 
--green_A100:#baedbd; 
--black_900_3f:#1010103f; 
--teal_300:#3bcbb2; 
--black_900_0c1:#04060f0c; 
--deep_purple_A400:#602bf8; 
--gray_400_99:#c2c2c299; 
--pink_300:#d44a98; 
--red_A701:#fd0303; 
--red_A700:#ec0808; 
--deep_purple_A401:#8823f8; 
--red_A702:#ea1010; 
--gray_600:#707683; 
--gray_601:#757575; 
--gray_400:#c2c2c2; 
--orange_A200:#ecb43c; 
--gray_602:#6b737a; 
--gray_603:#777777; 
--gray_900_23:#1d1d1f23; 
--gray_200_4c:#ebebeb4c; 
--black_900_0c:#0000000c; 
--gray_200:#ebebeb; 
--pink_300_3f:#d74b933f; 
--blue_50:#e5eeff; 
--orange_200:#e2c994; 
--bluegray_801:#363853; 
--bluegray_800:#323c47; 
--deep_purple_50:#eae3ff; 
--indigo_400:#5691bc; 
--bluegray_600:#475f7b; 
--bluegray_400:#7c8593; 
--bluegray_200:#a7c4d9; 
--blue_300:#73afd9; 
--blue_100:#aed6f2; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--bluegray_802:#384048; 
--deep_orange_50:#f9e8e8; 
--deep_purple_100:#c9bdee; 
--gray_50:#f7f9fb; 
--light_blue_800:#0170bf; 
--deep_purple_101:#cabdee; 
--black_900_1e:#0f0f0f1e; 
--black_900_66:#00000066; 
--black_900:#000000; 
--black_902:#0f0f0f; 
--black_901:#101010; 
--gray_905:#191d31; 
--deep_purple_100_4c:#cabdee4c; 
--pink_400:#ea526f; 
--gray_700:#616161; 
--gray_301:#d7e0e6; 
--gray_500:#b89797; 
--gray_901:#212121; 
--gray_900_87:#0d1f3687; 
--gray_902:#2a2a2a; 
--gray_701:#5e6368; 
--gray_900:#1c1c1c; 
--light_blue_800_99:#0170bf99; 
--bluegray_100:#d9d9d9; 
--teal_300_26:#3bcbb226; 
--gray_300:#dbd9e5; 
--bluegray_200_49:#aec2d549; 
--gray_100:#f3f3f3; 
--bluegray_900:#262633; 
--indigo_300:#7aa6c6; 
--indigo_102:#accaeb; 
--indigo_100:#c1d9ea; 
--bluegray_700:#4a4f6c; 
--black_900_33:#00000033; 
--indigo_101:#c6c7f8; 
--black_900_cc:#000000cc; 
--cyan_100:#b7e3e9; 
--bluegray_301:#9fa2b4; 
--bluegray_300:#7ba0bb; 
--bluegray_102:#d5d5d5; 
--bluegray_101:#c8dbe9; 
--blue_201:#8ebfe2; 
--blue_400:#43a7ee; 
--indigo_900:#203d69; 
--deep_orange_400_4c:#f370434c; 
--blue_200:#81c0ec; 
--bluegray_902:#0c243e; 
--bluegray_901:#303030; 
}